.page-titles {
    margin: 0;
}
.container-fluid {
    padding: 0 15px;
}
.help-block-error {
    color: #fc6180;
}
#admin-content h1 {
    line-height: 30px;
    font-size: 21px;
}
/*#admin-content p {*/
    /*display: none;*/
/*}*/
.glyphicon {
    display: inline-block;
    padding: .35em .75em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.glyphicon-eye-open{
    background-color: #5c4ac7;
    color: #fff;
}
.glyphicon-pencil {
    background-color: #26dad2;
    color: #fff;
}
.glyphicon-trash {
    background-color: #ef5350;
    color: #fff;
}
.has-error .help-block {
    color: #fc6180;
}
.navbar {
    margin-bottom: 0 !important;
}
.navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    line-height: unset;
}
.upload-kit .upload-kit-input .drag, .upload-kit .upload-kit-input .add {
    top: 42%;
}
.form-control {
    height: unset;
}
.multiple-input-list__item .radio, .multiple-input-list__item .checkbox {
    margin: 0;
}
.radio label, .checkbox label {
    line-height: 20px;
}
#floating-panel {
    position: absolute!important;
    left: 42%!important;
    z-index: 10!important;
    padding: 3px!important;
    text-align: center!important;
    padding-left: 10px!important;
}
.create-worker {
    background-color: #f3f3f3 !important;
}
.kv-date-picker, .kv-date-remove {
    padding: 0 20px !important;
}
.kv-dp-icon {
    padding: 0 !important;
}
.hidden{
    display: none!important;
}
.loader {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    z-index: 12000;
}
.loader img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 12000;

}
.glyphicon-new-window
{
    background-color: #0ea432;
    color: #fff;
}