.main-map {
    width: 100%;
    height: 400px;
    margin: 30px 0;
}
.order-container
{
    min-height: 150px;
}
.btn-margin
{
    margin-top: 28px;
}
.mt60
{
    margin-top: 40px;
}
.card-order
{
    margin-top: 20px;
}
.adv-img
{
    max-width: 150px;
}
.address-cursor
{
    cursor: pointer;
}
.checked {
    background-color: #fcebff;
}

.product-img img {
    width: 300px;
    padding: 20px;
}

.margintb-20
{
    margin: 20px 0;
}
.faq-content
{
    display: flex;
    justify-content: center;
}